@import "./utillities";

.contact-page{
  background-image:linear-gradient( rgba(13, 62, 168, 0.418) 100%, rgba(0, 0, 0, 0.5)100%),url("/img/kamil-feczko-dQpT4iZ7Aos-unsplash.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  padding: 0 100px;

  .title{
    color: #fff;
    margin: 120px auto;
    margin-bottom: 65px;
    text-align: center;
    font-size: 3rem;
    transform: translateY(-100px);
    opacity: 0;
    animation: animation-up-down 1.5s forwards ease;
  }
}

#contact{
  form{
    margin: auto;
    height: 100%;
    width: 100%;
    transform: translateY(50px);
    opacity: 0;
    animation: animation-up-down 1.5s forwards ease;

    .hidden{
      visibility: hidden;
      height: 0;
    }

    .input100{
      width: 100%;
      margin: 0 10px;
    }

    .row{
      width: 100%;
      display: flex;
      
      input{
        background: rgba($color: #fff, $alpha: 0.7);
        border: none;
        color: #111;
        width: 100%;
        padding: 10px;
        outline: none;
        font-size: 1rem;
        font-weight: 300;
        margin: 10px 0;
        resize: none;
}

textarea{
  font-family:Arial, Helvetica, sans-serif;
  background: rgba($color: #fff, $alpha: 0.7);
  border: none;
  color: #111;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
  height: 150px;
  
}

input[type="submit"]{
  background-color:transparent;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #fff;

  &:hover{
    transform: scale(1.02);
  }
}
    }
    .input50{
      width: 50%;
      margin: 0 10px;
    }

    label{
      color: #fff;
    }
    
  }
}